$color1: #AD1457;
$color2: #2196F3;
$color3: #f5a3fc;

html {
  background: #eff0f2;
}

body {

  background: none;

  .login-page {
    height: 100%;
    width: 100%;
    background: #ffffff;

    .banner {
      background: $color1 no-repeat center;
      color: white;
      text-align: center;
    }

    .countdown, .login-form {
      background: #ffffff;
    }

    .login-form-container {

      h2 {
        text-align: center;
      }

      .login-form {
        background: white;
        box-shadow: 0px 0px 1px 2px #efefef;
        padding:10px;
      }

      .footer {
        padding-top:10px;
        padding-left: 0;
        a {
          color : #fff;
          font-size:13px;
          text-decoration: none;
        }
      }
    }

  }


  .student-view {
    margin-bottom: 50px;

    .img-container {
      max-height: 200px;
      overflow: hidden;
    }
    .student-img {
      max-width:100%;
      height: auto;
    }
  }

  .timer-group {
    border: 1px solid #efefef;
    text-align: center;
    margin: 10px;

    .unit {
      padding:3px;
      background: #f7f8f9;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      overflow: auto;
    }

    .value {
      text-align: center;
      padding:3px;
      background: #fff;
      font-size:46px;
      font-weight: bolder;
    }
  }

  .center-align {
    text-align: center;
  }
}
