<div class="new-message">
    <div class="panel panel-black">
        <form name="newEvent">
            <div class="panel-heading">
                Create Event
                
                <span class="pull-right" ng-show="loading">
                    <i class="fa fa-spin fa-circle-o-notch"></i>
                </span>
            </div>
            <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">Title</label>
                        <input class="form-control" type="text" ng-model="event.title" placeholder="Title">
                    </div> 
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <input type="text" class="form-control" ng-model="event.description" placeholder="Subject">
                    </div>
                    <div class="form-group"> 
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label">Is Recurring ?</label>
                                 <div class="input-group">
                                    <label class="radio-inline"><input value="1" type="radio" name="is_recurring" ng-model="event.is_recurring"> Yes </label>
                                    <label class="radio-inline" ><input value="0" type="radio" name="is_recurring" ng-model="event.is_recurring"> No </label>
                                </div>
                            </div>
                            <div class="col-md-4" ng-show="event.is_recurring == 1">
                                <label class="control-label">Repeats Every</label>
                                <select class="input-sm form-control" ng-model="event.recurrence_period">
                                    <option>Month</option>
                                    <option>Week</option>
                                </select>
                            </div>
                            <div class="col-md-4" ng-show="event.recurrence_period == 'Month'">
                                <label class="control-label">Day of Month</label>
                                <select number-select max="31" min="1" ng-value="{{event.recurrence_date}}" class="input-sm form-control" ng-model="event.recurrence_date">
                                </select>
                            </div>
                            <div class="col-md-4" ng-show="event.recurrence_period == 'Week'">
                                <label class="control-label">Select Weekday</label>
                                <select weekdays-select class="input-sm form-control" ng-model="event.recurrence_date">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label">Start Date</label>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-sm btn-default" ng-click="date1.opened = !date1.opened"><i class="fa fa-calendar-o"></i></button>
                                    </span>
                                    <input  uib-datepicker-popup="{{dateFormat}}" is-open="date1.opened" datepicker-options="dateOptions" type="text" ng-model="event.start_date" class="form-control input input-sm">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">End Date</label>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-sm btn-default" ng-click="date2.opened = !date2.opened"><i class="fa fa-calendar-o"></i></button>
                                    </span>
                                    <input  uib-datepicker-popup="{{dateFormat}}" is-open="date2.opened" type="text" ng-model="event.end_date" class="form-control input input-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label">Start Time</label>
                                <uib-timepicker  ng-model="event.start_time"  show-meridian="true"></uib-timepicker>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">End Time</label>
                                <uib-timepicker  ng-model="event.end_time"  show-meridian="true"></uib-timepicker>
                            </div>
                        </div>
                    </div>
                
            </div>
            <div class="panel-footer">
                <button ng-click="saveEvent()" class="btn btn-primary">Save</button>
                <button type="reset" class="btn btn-warning" ng-click="resetEvent()">Reset</button>
            </div>
        </form>
    </div>
</div>