<h4>
    <div class="form-inline" ng-init="search.mode = 'search_for_student'">
        <label class="text-info">Search Student</label>
        <div class="input-group pull-right">
            <span class="input-group-addon">
                Search Mode
            </span>
             <select ng-model="search.mode" class="form-control input-sm ">
                <option value="search_for_student">Search for student</option>
                <option value="select_from_class">Select from class</option>
            </select>
        </div>
    </div>
</h4>
 <div id="search-form" ng-show="search.mode == 'search_for_student'">
    <div class="form-group">
        <label class="control-label">
            Enter name or ID 
        </label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control input-sm" ng-model="search.keyword">
            <div class="input-group-btn">
                <button class="btn btn-primary btn-sm" ng-click="searchStudent()">Go</button>
            </div>
        </div>
        <p class="text-info text-sm ">Min: 6 characters</p>
    </div>
</div>

<div  ng-show="search.mode == 'select_from_class'">
    <div class="row">
        <div class="col-md-4">
             <div class="form-group">
                 <label class="control-label">Select Session</label>
                <sessions ng-model="search.sessionId" class="form-control input-sm"></sessions>
            </div>
        </div>
        <div class="col-md-5">
             <div class="form-group">
                 <label class="control-label">Select Class</label>
                <classes ng-model="search.classId" class="form-control input-sm"></classes>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <button style="margin-top:25px;" class="btn btn-primary btn-sm" ng-click="getStudents()">Get Students</button>
            </div>
        </div>
    </div>
</div>
<div id='search-results border-grey' max-height="150px">
    <table class="table table-bordered table-condensed">
        <thead>
            <th>S/N</th>
            <th>Name</th>
            <th>Class</th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="record in students">
                <td ng-bind="$index + 1"></td>
                <td ng-bind="record.student_name"></td>
                <td ng-bind="record.current_class"></td>
                <td>
                    <button class="btn btn-sm btn-info" ng-click="selectAction({student: record})"><i class="fa fa-edit"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>