<div ng-controller="DashboardController">
    <div class="container main-page" layout="column">

        <md-toolbar class="md-hue-2 main-toolbar">
            <div class="md-toolbar-tools">
                <h2 school-info="name" property="innerHTML"></h2>

                <div flex></div>
                <md-button class="md-icon-button" ng-click="logout()">
                    <md-icon>power_settings_new</md-icon>
                </md-button>
            </div>
        </md-toolbar>


        <div ui-view>
        </div>
    </div>
</div>