<div class="login-page" ng-controller="ParentsLoginController">
    <div layout="column" layout-align="center stretch">
        <div flex="25" flex-lg="40" class="banner" layout="column" layout-padding layout-align="center center">
            <div flex="8" flex-lg="80" flex-md="80">
                <h1 class="md-display-2">Evangel Model Secondary School, Owerri</h1>
                <p class="md-subhead">
                    Education for relevance
                </p>
            </div>
            <div flex="2" flex-md="20">
                <h3 class="md-title">Student Portal</h3>
            </div>
        </div>

        <div flex="auto" class="countdown" layout="column" layout-lg="row" layout-padding>
            <div flex-lg="60" flex="auto" layout="column"  layout-align="center stretch">
                <div flex="2" md-colors="{color:'accent'}">
                    <h4 class="md-headline center-align"> Welcome, results will be ready in:</h4>
                </div>
                <div flex="8">
                    <div countdown-timer="new Date(2017,7,2)"></div>
                </div>
            </div>
            <div flex-lg="40" flex-md="40" class="login-form" layout="row">
                <div class="login-form-container" flex="80" flex-offset="10" flex-gt-sm="60" flex-offset-gt-sm="20" >
                    <h2>Login</h2>
                    <div class="login-form">
                        <form name="loginForm">
                            <md-progress-linear ng-show="loading" md-mode="indeterminate"></md-progress-linear>
                            <md-input-container class="input-field" layout="row">
                                <label>Enter PIN</label>
                                <input type="text" ng-model="loginData.pin" class="validate">
                            </md-input-container>
                            <md-input-container class="input-field" layout="row">
                                <label>Enter Serial</label>
                                <input type="text" ng-model="loginData.serial" class="validate">
                            </md-input-container>
                            <div class="center-align">
                                <md-button class="md-raised md-primary" ng-click="getAccess()" ng-disabled="false">Proceed</md-button>
                                <p class="md-caption" md-colors="{color:'accent'}">Button will be enabled once results are available</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div flex="auto" class="engagement" hide="false">
            <div class="container" layout="column" layout-gt-sm="row">
                <div flex flex-gt-sm="60">
                    Blog posts
                </div>
                <div flex>
                    Social Media
                </div>
            </div>
        </div>
        <div flex="10">
        </div>
        <div flex="10" class="footer">
            <p class="center-align">
                Evangel Model Secondary School, Owerri
            </p>
        </div>
    </div>
</div>
