<div ng-controller="StudentController" class="student-view">
    <div layout="row" layout-align="center" layout-margin>
        <div flex="70">
            <md-progress-linear md-mode="indeterminate" ng-show="loading"></md-progress-linear>
            <md-toolbar>
                <div layout="row" layout-sm="column" layout-padding layout-wrap>
                    <div flex="25">
                        <div class="img-container">
                            <img ng-src="{{studentData.image || getDefaultImage()}}" class="student-img">
                        </div>
                    </div>
                    <div flex>
                        <h2 class="md-headline" ng-bind="studentData.student_name"></h2>
                        <span class="md-subhead" ng-bind="studentData.class_name"></span>
                    </div>
                    <div flex="20" layout="column" layout-align="none end">
                        <!--<md-button class="md-fab md-mini" ng-click="addStudent()">-->
                            <!--<md-icon>add</md-icon>-->
                            <!--<md-tooltip md-direction="bottom">Add Student</md-tooltip>-->
                        <!--</md-button>-->
                    </div>
                </div>
            </md-toolbar>
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Results">
                        <md-content class="md-padding" layout="column">
                            <md-toolbar class="md-accent">
                                <div class="md-toolbar-tools">
                                    <span class="flex">Session: {{result.result_info.session}}</span>
                                    <span class="flex">Term: {{result.result_info.term}}</span>
                                </div>
                            </md-toolbar>

                            <md-content flex="60">
                                <h4>Subject Scores</h4>
                                 <md-table-container>
                                <table md-table>
                                    <thead md-head>
                                        <tr md-row>
                                            <td md-column>Subject</td>
                                            <td md-column>CA 1</td>
                                            <td md-column>CA 2</td>
                                            <td md-column>Exam</td>
                                            <td md-column>Total Score</td>
                                            <td md-column>Position</td>
                                        </tr>
                                    </thead>
                                    <tbody md-body>
                                        <tr md-row ng-repeat="record in result.subject_scores">
                                            <td md-cell>{{record.subject_name}}</td>
                                            <td md-cell>{{record.ca1}}</td>
                                            <td md-cell>{{record.ca2}}</td>
                                            <td md-cell>{{record.exam}}</td>
                                            <td md-cell>{{record.total_score}}</td>
                                            <td md-cell>{{record.position}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                            </md-content>
                            <md-divider></md-divider>
                    </md-tab>

                    <!--<md-tab label="Profile">-->
                        <!--<md-content class="md-padding">-->
                            <!--<h1>Profile</h1>-->
                        <!--</md-content>-->
                    <!--</md-tab>-->
                </md-tabs>
            </md-content>
        </div>
    </div>
</div>